<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>this is comments!!!</comment>
<entry key="appender.rolling_slowlog.fileName">${sys:ls.logs}/logstash-slowlog-${sys:ls.log.format}.log</entry>
<entry key="appender.json_rolling.layout.compact">true</entry>
<entry key="appender.console_slowlog.name">plain_console_slowlog</entry>
<entry key="appender.json_rolling.policies.time.interval">1</entry>
<entry key="appender.console_slowlog.layout.pattern">[%d{ISO8601}][%-5p][%-25c] %m%n</entry>
<entry key="appender.rolling.policies.time.type">TimeBasedTriggeringPolicy</entry>
<entry key="appender.rolling.policies.time.modulate">true</entry>
<entry key="appender.json_rolling.layout.eventEol">true</entry>
<entry key="appender.rolling_slowlog.policies.time.type">TimeBasedTriggeringPolicy</entry>
<entry key="appender.json_console_slowlog.type">Console</entry>
<entry key="appender.json_rolling_slowlog.policies.time.interval">1</entry>
<entry key="appender.rolling_slowlog.policies.type">Policies</entry>
<entry key="appender.console.layout.pattern">[%d{ISO8601}][%-5p][%-25c] %m%n</entry>
<entry key="appender.rolling.policies.size.size">100MB</entry>
<entry key="appender.rolling_slowlog.policies.size.size">100MB</entry>
<entry key="logger.slowlog.level">trace</entry>
<entry key="appender.json_console_slowlog.layout.type">JSONLayout</entry>
<entry key="appender.json_console_slowlog.name">json_console_slowlog</entry>
<entry key="appender.json_console_slowlog.layout.eventEol">true</entry>
<entry key="appender.json_rolling.policies.time.type">TimeBasedTriggeringPolicy</entry>
<entry key="appender.json_console.type">Console</entry>
<entry key="appender.rolling_slowlog.type">RollingFile</entry>
<entry key="appender.console.type">Console</entry>
<entry key="appender.json_rolling_slowlog.filePattern">${sys:ls.logs}/logstash-slowlog-${sys:ls.log.format}-%d{yyyy-MM-dd}-%i.log.gz</entry>
<entry key="appender.json_console.name">json_console</entry>
<entry key="appender.json_rolling.policies.size.size">100MB</entry>
<entry key="appender.rolling_slowlog.name">plain_rolling_slowlog</entry>
<entry key="appender.console.name">plain_console</entry>
<entry key="appender.rolling.policies.size.type">SizeBasedTriggeringPolicy</entry>
<entry key="appender.json_rolling_slowlog.layout.compact">true</entry>
<entry key="status">error</entry>
<entry key="rootLogger.level">${sys:ls.log.level}</entry>
<entry key="appender.rolling_slowlog.policies.size.type">SizeBasedTriggeringPolicy</entry>
<entry key="appender.rolling.fileName">${sys:ls.logs}/logstash-${sys:ls.log.format}.log</entry>
<entry key="appender.json_rolling.policies.type">Policies</entry>
<entry key="appender.json_console.layout.compact">true</entry>
<entry key="appender.rolling.policies.type">Policies</entry>
<entry key="appender.json_rolling_slowlog.layout.type">JSONLayout</entry>
<entry key="logger.slowlog.name">slowlog</entry>
<entry key="appender.json_rolling_slowlog.type">RollingFile</entry>
<entry key="appender.json_rolling.policies.size.type">SizeBasedTriggeringPolicy</entry>
<entry key="rootLogger.appenderRef.rolling.ref">${sys:ls.log.format}_rolling</entry>
<entry key="appender.rolling_slowlog.layout.pattern">[%d{ISO8601}][%-5p][%-25c] %.10000m%n</entry>
<entry key="appender.rolling_slowlog.policies.time.modulate">true</entry>
<entry key="appender.rolling.policies.time.interval">1</entry>
<entry key="appender.json_rolling_slowlog.name">json_rolling_slowlog</entry>
<entry key="name">LogstashPropertiesConfig</entry>
<entry key="logger.slowlog.appenderRef.console_slowlog.ref">${sys:ls.log.format}_console_slowlog</entry>
<entry key="appender.console_slowlog.layout.type">PatternLayout</entry>
<entry key="appender.json_rolling.type">RollingFile</entry>
<entry key="logger.slowlog.appenderRef.rolling_slowlog.ref">${sys:ls.log.format}_rolling_slowlog</entry>
<entry key="appender.rolling.type">RollingFile</entry>
<entry key="appender.rolling.layout.pattern">[%d{ISO8601}][%-5p][%-25c] %-.10000m%n</entry>
<entry key="appender.rolling.filePattern">${sys:ls.logs}/logstash-${sys:ls.log.format}-%d{yyyy-MM-dd}-%i.log.gz</entry>
<entry key="appender.json_rolling_slowlog.policies.size.size">100MB</entry>
<entry key="appender.rolling_slowlog.filePattern">${sys:ls.logs}/logstash-slowlog-${sys:ls.log.format}-%d{yyyy-MM-dd}-%i.log.gz</entry>
<entry key="appender.json_console.layout.eventEol">true</entry>
<entry key="appender.json_rolling.filePattern">${sys:ls.logs}/logstash-${sys:ls.log.format}-%d{yyyy-MM-dd}-%i.log.gz</entry>
<entry key="appender.json_rolling.name">json_rolling</entry>
<entry key="appender.json_rolling_slowlog.policies.time.type">TimeBasedTriggeringPolicy</entry>
<entry key="appender.rolling.name">plain_rolling</entry>
<entry key="appender.json_rolling_slowlog.policies.time.modulate">true</entry>
<entry key="appender.json_rolling.policies.time.modulate">true</entry>
<entry key="appender.json_rolling_slowlog.layout.eventEol">true</entry>
<entry key="rootLogger.appenderRef.console.ref">${sys:ls.log.format}_console</entry>
<entry key="appender.rolling.layout.type">PatternLayout</entry>
<entry key="appender.json_rolling_slowlog.policies.type">Policies</entry>
<entry key="appender.json_rolling.fileName">${sys:ls.logs}/logstash-${sys:ls.log.format}.log</entry>
<entry key="appender.rolling_slowlog.layout.type">PatternLayout</entry>
<entry key="appender.console.layout.type">PatternLayout</entry>
<entry key="appender.json_rolling_slowlog.policies.size.type">SizeBasedTriggeringPolicy</entry>
<entry key="appender.json_console.layout.type">JSONLayout</entry>
<entry key="appender.rolling_slowlog.policies.time.interval">1</entry>
<entry key="logger.slowlog.additivity">false</entry>
<entry key="appender.json_console_slowlog.layout.compact">true</entry>
<entry key="appender.console_slowlog.type">Console</entry>
<entry key="appender.json_rolling_slowlog.fileName">${sys:ls.logs}/logstash-slowlog-${sys:ls.log.format}.log</entry>
<entry key="appender.json_rolling.layout.type">JSONLayout</entry>
</properties>
